.container {
  text-align: center;
  height: 100vh;
}

.product {
  display: flex;
  justify-content: space-between;
  
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.form-wrapper{
  margin: 0;
  height: 100vh;
}