.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  
  &__background {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__content {
    background: #e74c3c;
    width: 513px;
    height: 252px;
    position: relative;
    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #d44637;
  
        &__title {
            font-weight: bold;
            color: #fff;
            font-size: 23px;
        }
        &__close {
            background: #d44637;
            color: #fff;
            border: none;
            font-size: 25px;
            margin-left: 60px;
            cursor: pointer;
        }
    }
    &__text {
        margin-top: 25px;
        color: #fff;
        text-align: center;
        line-height: 26px;
        font-weight: bold;
        font-size: 14px;
    }
    &__footer {
        display: flex;
        column-gap: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
  
        &__button {
            color: #fff;
            width: 102px;
            height: 42px;
            border-radius: 3px;
            background-color: #b3382c;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
  }
}
