.modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.background {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.content {
    background: #e74c3c;
    width: 513px;
    height: 252px;
    position: relative;
    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #d44637;

        &__title {
            font-weight: bold;
            color: #fff;
            font-size: 23px;
        }
        &__close {
            background: #d44637;
            color: #fff;
            border: none;
            font-size: 25px;
            margin-left: 60px;
            cursor: pointer;
        }
    }
    &__text {
        margin-top: 25px;
        color: #fff;
        text-align: center;
        line-height: 26px;
        font-weight: bold;
        font-size: 14px;
    }
    &__footer {
        display: flex;
        column-gap: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        &__button {
            color: #fff;
            width: 102px;
            height: 42px;
            border-radius: 3px;
            background-color: #b3382c;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
}
