.nav-menu__list{
    margin: 0;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    list-style: none;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #be780f;
}
    
a{
    text-decoration: none;
  }
  

.nav-menu__item{
    font-size: 20px;
    color: black;
}