.container {
  background: rgb(136, 99, 99);
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  margin: 40px;
}

.input{
  padding: 10px 20px;
}
